Rplots.pdf
r-model/outputs/nasapower_cache/
r-model/outputs/plots/figure1_nasapower_comparison.tif
r-model/outputs/isimip_cache/
r-model/outputs/plots/figure3_isimip_vpd_projections.tif
r-model/outputs/plots/figure3_isimip_vpd_projections.pdf
r-model/outputs/plots/figure3_inspect_raw.tif
r-model/outputs/plots/figure3_inspect_corrected.tif
r-model/outputs/plots/figure3_inspect_timeseries.tif
